services:

  kafka:
    image: apache/kafka:3.9.1
    env_file:
      - .env.prod
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_LISTENERS: 'SASL_PLAINTEXT://:9092,CONTROLLER://:9093'
      KAFKA_ADVERTISED_LISTENERS: 'SASL_PLAINTEXT://localhost:9092'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'SASL_PLAINTEXT'
      CLUSTER_ID: ${KAFKA_CLUSTER_ID}

      KAFKA_SASL_ENABLED_MECHANISMS: 'SCRAM-SHA-256'
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: 'SCRAM-SHA-256'
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf"
      KAFKA_SUPER_USERS: "User:admin"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_NUM_PARTITIONS: 3

      KAFKA_ADMIN_USER: ${KAFKA_ADMIN_USER}
      KAFKA_ADMIN_PASSWORD: ${KAFKA_ADMIN_PASSWORD}
      KAFKA_APP_USER: ${KAFKA_APP_USER}
      KAFKA_APP_PASSWORD: ${KAFKA_APP_PASSWORD}

    volumes:
      - ./kafka/kafka_server_jaas.conf:/etc/kafka/kafka_server_jaas.conf
      - ./kafka/init-users.sh:/init-users.sh
      - kafka_data:/var/lib/kafka/data
      - ./kafka/entrypoint.sh:/entrypoint.sh

    command: [ "bash", "/entrypoint.sh" ]

    healthcheck:
      test: [ "CMD-SHELL", "cub kafka-ready -b localhost:9092 -t 5 || exit 1" ]
      interval: 15s
      timeout: 10s
      retries: 10

  # core-api:
  #   container_name: core-api-service
  #   env_file:
  #     - .env
  #   image: core-api-image
  #   restart: always
  #   build:
  #     context: ./core-api-service
  #     dockerfile: Dockerfile
  #   environment:
  #     PYTHONUNBUFFERED: 1
  #   depends_on:
  #     - kafka
  #     - opensearch
  #   ports:
  #     - "8000:8000"

  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch
    env_file:
      - .env.prod
    environment:
      discovery.type: single-node
      cluster.name: personal-opensearch-cluster
      node.name: opensearch-node1

      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"

      DISABLE_SECURITY_PLUGIN: "true"
      # OPENSEARCH_INITIAL_ADMIN_PASSWORD: ${OPENSEARCH_INITIAL_ADMIN_PASSWORD}

      # DISABLE_INSTALL_DEMO_CONFIG: "true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600"
    healthcheck:
      test: [ "CMD-SHELL", "curl -sS -k -u admin:${OPENSEARCH_INITIAL_ADMIN_PASSWORD} https://localhost:9200 >/dev/null || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 10

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    env_file:
      - .env.prod
    depends_on:
      - opensearch
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    ports:
      - "5601:5601"
volumes:
  kafka_data:
  opensearch_data:
